{% extends 'base.html' %}
{% block contenido %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/catalogostyle.css' %}">
<div class="Catalogo">
    <center><h1>Catalogo de productos</h1></center>
    <div class="row">
        <div class="col">
            <div class="card">
                <img src="{% static 'img/setpuntaatornillador.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Set puntas destornillador</h5>
                    <h6 class="card-price">$19.99</h6>
                    <a href="#" class="btn btn-primary">Agregar al carrito</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="{% static 'img/pumasbota_5.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">bota de seguridad puma</h5>
                    <h6 class="card-price">$29.99</h6>
                    <a href="#" class="btn btn-primary">Agregar al carrito</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="{% static 'img/alambrepuas.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Alambre de puas 35 mts</h5>
                    <h6 class="card-price">$39.99</h6>
                    <a href="#" class="btn btn-primary">Agregar al carrito</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <img src="{% static 'img/soldadora.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">soldadora</h5>
                    <h6 class="card-price">$49.99</h6>
                    <a href="#" class="btn btn-primary">Agregar al carrito</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="{% static 'img/kittaladro.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Kit talardo percutor</h5>
                    <h6 class="card-price">$59.99</h6>
                    <a href="#" class="btn btn-primary">Agregar al carrito</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="{% static 'img/kitdestornilladorstanley.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">JUEGO DESTORNILLADORES STANLEY 6 PIEZAS</h5>
                    <h6 class="card-price">$69.99</h6>
                    <a href="#" class="btn btn-primary">Agregar al carrito</a>
                </div>
            </div>
        </div>
    </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <img src="{% static 'img/cinturon.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Cinturon porta herramientas</h5>
                        <h6 class="card-price">$79.99</h6>
                        <a href="#" class="btn btn-primary">Agregar al carrito</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="{% static 'img/martillo.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Martillo</h5>
                        <h6 class="card-price">$89.99</h6>
                        <a href="#" class="btn btn-primary">Agregar al carrito</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="{% static 'img/llaveAllen.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Llave Allen</h5>
                        <h6 class="card-price">$99.99</h6>
                        <a href="#" class="btn btn-primary">Agregar al carrito</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}













