{% extends 'base.html' %}

{% block contenido %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/loginstyle.css' %}">
</head>
<body>
      
            <div class="contenedor__todo">
                <div class="caja__trasera">
                    <div class="caja__trasera-login">
                        <h3>¿Ya tienes una cuenta?</h3>
                        <p>Inicia sesión para entrar en la página</p>
                        <button id="btn__iniciar-sesion">Iniciar Sesión</button>
                    </div>
                    <div class="caja__trasera-register">
                        <h3>¿Aún no tienes una cuenta?</h3>
                        <p>Regístrate para que puedas iniciar sesión</p>
                        <button id="btn__registrarse">Regístrarse</button>
                    </div>
                </div>

                <div class="contenedor__login-register" >
                    <!--Login-->
                    <form action="{% url 'autenticacion' %}" class="formulario__login" method="post">
                        {% csrf_token %}
                        <h2>Iniciar Sesión</h2>
                        <input type="text" name="usuario" placeholder="Correo Electrónico">
                        <input type="password" name="contrasena" placeholder="Contraseña">
                        <button type="submit">Entrar</button>
                        {% if mensaje_error %}
                            <div id="mensaje-error-contraseña" style="color: red;">{{ mensaje_error }}</div>
                        {% endif %}
                        <div id="mensaje-error-contraseña-cliente" style="color: red; display: none;">La contraseña es incorrecta</div>
                    </form>
                    
                    

                    <!--Register-->
                    <form action="" class="formulario__register">
                        <h2>Regístrarse</h2>
                        <input type="text" placeholder="Nombre completo">
                        <input type="text" placeholder="Correo Electronico">
                        <input type="text" placeholder="Usuario">
                        <input type="password" placeholder="Contraseña">
                        <button>Regístrarse</button>
                    </form>
                </div>
            </div>

     

        <script src="{% static 'js/js.js'%}"></script>
    </body>
    </html>

{% endblock %}